body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #101d27;
  color: #d7d7c3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.home-logo {
  width: 120px;
  margin-bottom: 10px;
  border-radius: 16px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.home-button {
  padding: 12px;
  font-size: 1rem;
  background-color: #bcc0b2;
  color: #101d27;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #3a7887;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #101d27;
  color: #bcc0b2;
  border-bottom: 1px solid #3a7887;
}

.header nav {
  flex-grow: 1;
}

.header nav ul {
  display: flex;
  height: 220px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.header li a {
  color: #bcc0b2;
  text-decoration: none;
  transition: all 300ms;
}

.header .active,
.header a:hover {
  color: #3a7887;
}

.menu-toggle {
  display: none;
  background: none;
  color: #bcc0b2;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1100;
}

.content {
  min-height: 520px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: relative;
    z-index: 1100;
  }

  .header {
    position: relative;
  }

  .header nav {
    position: absolute;
    top: 80%;
    right: 5%;
    width: 150px;
    height: 240px;
    background-color: #bcc0b2;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
  }

  .header nav.open {
    display: flex;
  }

  .header nav ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .header nav li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .header li a {
    color: #3a7887;
    display: block;
    padding: 10px 0px;
    width: 100%;
    text-decoration: none;
    transition: background 300ms;
  }

  .header a:hover {
    color: #3b4c72;
  }
}

.footer {
  height: 100%;
  text-align: center;
  padding: 15px;
  background-color: #101d27;
  color: #bcc0b2;
  font-size: 0.9rem;
  border-top: 1px solid #3a7887;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.daily-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #101d27;
  color: #d7d7c3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.register-form {
  background-color: #3a7887;
  border-radius: 8px;
  padding: 20px;
  max-width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-form input[type="text"],
.register-form input[type="number"],
.register-form input[type="date"] {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #2a2d4b;
  background-color: #101d27;
  color: #f0e68c;
}

.form-button {
  max-width: 320px;
  padding: 10px;
  background-color: #3b4c72;
  border: 1px solid #2a2d4b;
  color: #f0e68c;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color o.3s;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #2a2d4b;
  color: #eaeaea;
}

.register-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #101d27;
  color: #d7d7c3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.registros-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  max-height: 500px;
  overflow-y: auto;
}

.card {
  background-color: #3b4c72;
  color: #f0e68c;
  border-radius: 8px;
  padding: 20px;
  max-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.card p {
  margin: 8px 0;
}

.card button {
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:first-of-type {
  background-color: #5bc0de; /* Rojo para eliminar */
  color: white;
}

.card button:last-of-type {
  background-color: #d9534f; /* Azul para editar */
  color: white;
}

.card button:hover {
  opacity: 0.9;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.edit-form input {
  width: 220px;
  padding: 4px;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px solid #2a2d4b;
}

.edit-form button {
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-form button:first-of-type {
  background-color: #5cb85c; /* Verde para guardar */
  color: white;
}

.edit-form button:last-of-type {
  background-color: #f0ad4e; /* Naranja para cancelar */
  color: white;
}

@media (max-width: 768px) {
  .registros-list {
    padding: 5px;
  }

  .card {
    padding: 15px;
    max-width: 230px;
    justify-content: center;
    align-items: center;
  }

  .card p {
    font-size: 1rem;
  }

  /* Botones adaptados para pantallas pequeñas */
  .card button {
    width: 100%; /* Botones a ancho completo en móviles */
    margin: 4px 0; /* Espacio vertical entre botones */
  }

  /* Texto y botones más pequeños en el formulario de edición */
  .edit-form input,
  .edit-form button {
    font-size: 14px;
  }

  .edit-form button {
    width: 100%; /* Ancho completo de los botones en vista móvil */
  }
}

.estadisticas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #101d27;
  color: #d7d7c3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.estadisticas-container h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.estadisticas-container p {
  margin: 10px 0;
  font-size: 1.1rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #101d27;
  color: #d7d7c3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.profile-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 1rem;
  margin: 10px 0;
}

.password-change {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-change input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 300px; /* Limita el ancho para una mejor presentación */
  margin-bottom: 10px;
}

.password-change button {
  padding: 10px 15px;
  background-color: #5bc0de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 300px;
  width: 100%;
}

.password-change button:hover {
  background-color: #31b0d5;
}

.message {
  color: #d9534f;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  max-width: 300px;
}

.logout-section {
  margin-top: 30px;
  text-align: center;
}

.logout-button {
  padding: 10px 15px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c9302c;
}

/* Contenedor principal para los formularios */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #101d27;
  color: #d7d7c3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.auth-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f0e68c;
}

.auth-container p {
  font-size: 1rem;
  margin-top: 20px;
}

.auth-container .link-button {
  background: none;
  border: none;
  color: #5bc0de;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
  margin-top: 10px;
}

.auth-container .link-button:hover {
  color: #31b0d5;
}

/* Estilos para el formulario */
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
  max-width: 300px;
}

.auth-form button {
  padding: 10px 15px;
  background-color: #5bc0de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  max-width: 300px;
  width: 100%;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: #31b0d5;
}

.error-message {
  color: #d9534f;
  font-weight: bold;
  margin-top: 10px;
}

.filter-section {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #bcc0b2;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.filter-icon {
  font-size: 1.5rem;
  color: #31b0d5;
}

.filter-options {
  display: flex;
  gap: 15px;
  color: #bcc0b2;
}

.filter-options label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-date,
.filter-order {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-section label {
  font-weight: bold;
  color: #333;
}

.filter-section input[type="date"],
.filter-section select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.filter-section input[type="date"]:focus,
.filter-section select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-options {
    flex-direction: column;
  }
}
